<div ng-include="'header.html'"></div>
<div ng-include="'sidebar.html'"></div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   
    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
           
            <div   class="col-sm-12 col-md-12 col-lg-12"  >
                  
                <div ng-hide="testCompleted">
                        <div class="panel panel-body ">
                    <div style="text-align:right" class="row">
                        <div class="pagination">
                
                          <!--{{currentPage}} == {{names.questions.length}}-->
                            <ul ng-if="currentPage != post.questions.length">
                                <li ng-class="prevPageDisabled()">
                                    <a href ng-click="prevPage1()"><button class="btn btn-info btn-md btnclr">Preveious</button></a>
                                </li>
                                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                    <a href="#">{{n+1}}</a>
                                </li>
                                <li ng-class="nextPageDisabled()">
                                    <a href ng-click="nextPage1()"><button class="btn btn-info btn-md btnclr">Next</button> </a>
                                </li>
                               
                            </ul>
                        
                        <ul ng-if="currentPage == post.questions.length">
                                <li ng-class="nextPageDisabled()">
                                        <a href ng-click="prevPage1()"><button class="btn btn-info btn-md btnclr">Preveious</button></a>
                                        <button class="btn btn-info btn-md btnclr" ng-click="finshFun()">Finished</button>
                                </li>
                            </ul>
                            
                        </div>
                        <hr>
                    </div>
                 
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                                <div><h5><strong>Question {{currentPage}} of {{post.questions.length}}.</strong></h5></div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 text-right">
                          
                              
                            <!-- <a href="Javascript:void(0)" class="btn btn-primary btn-outline btn-sm " id="showCalc" style="margin: 0 10px;">
                                    <i class="fa fa-calculator"></i> Calculator
                        </a> -->
                        <a href="Javascript:void(0)">
                                <button type="button" class="btn btn-info btn-md btnclr btn-outline " id="showCalc" style="margin: 0 10px;  color: white !important;">
                                    <i class="fa fa-calculator"></i> Calculator
                                </button>
                            </a>
                            <!-- <button type="button" class="btn btn-primary btn-sm"><a style="color:white" href="">Calcs</a></button><span id="demo1"></span> -->
                        </div>
                        
                    </div>
                    <hr>
                 <form>
                <div >
                    <div ng-repeat="post in post.questions">
                        <div ng-if="$index+1 == currentPage">
                            <div class="row qust1">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <!-- <div  class="form-group">
                                        <h4 ><label>{{$index+1}}.<p style="    position: relative; left: 20px;  bottom: 20px;"ng-bind-html="post.name"></p></label></h4>
                                        <span ng-if="post.question_type_id == 4"><label>{{$index+1}}.<p ng-bind-html="post.paragraph"></p></span>
                                    </div> -->
                                    <div class="form-group">
                                        <span ng-if="post.question_type_id != 4">
                                            <label>{{$index+1}}. </label>
                                            <p ng-if="post.question_type_id != 4" style="position: relative;font-size: 20px;  bottom: 25px; left: 22px;"
                                                ng-bind-html="post.name"></p>
                                        </span>
                                        <span ng-if="post.question_type_id == 4">
                                            <label>
                                                <p style="font-size: 17px; " ng-bind-html="post.paragraph"></p>
                                        </span>
                                        <span ng-if="showAns(post)" style="color:#468847;font-family: cursive;font-size: 18px; position:absolute;  left: 4px;"> Correct Answer
                                            <img src="assets/green-tick.jpg" width="17" height="17"> </span>
                                        <span ng-if="!showAns(post)" style="color:red;font-size: 18px; font-family: cursive;">Wrong Answer
                                            <img src="assets/cross-mark.jpg" width="16" height="16"> </span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                
                                    <div class="input-group pract radio i-checks" ng-repeat="child in post.options" ng-if="post.question_type_id == 1">

                                        <label>
                                           
                                            <span style="position: absolute; left: 4px;" ng-if="child.is_answer == '1'">
                                                <img src="assets/green-tick.jpg" width="17" height="17">
                                            </span>

                                            <input type="radio"  disabled name="type1_0" ng-model="child.user_aws" ng-value="1" ng-change="typeRadio1(getIndexQua11,$index)">
                                            <i></i>
                                            <span style="position: relative;font-size: 17px; bottom: 20px; left: 55px;" ng-bind-html="child.name"></span>
                                        </label>
                                    </div>
                                    
                                    <!-- //If Question type2  -->
                                  
                                    <div class="input-group pract radio i-checks" ng-repeat="child in post.options" ng-if="post.question_type_id == 2">
                                        <label>
                                           
                                            <span style="position:absolute" ng-if="child.is_answer == '1'">
                                                <img src="assets/green-tick.jpg" width="17" height="17">
                                            </span>
                                            <input type="checkbox"  disabled ng-model="child.user_aws" ng-true-value="1" ng-false-value="0">
                                            <i></i>
                                            <span style="position: relative; font-size: 17px; bottom: 22px; left: 73px;" ng-bind-html="child.name"></span>
                                        </label>

                                    </div>
                                     <!-- //If Question type4  -->
                                   
                                <div ng-if="post.question_type_id == 4">
                                    <h4>
                                        <label>{{currentQua+1}}.
                                            <span style="overflow:auto;    position: relative;bottom: 18px;left: 20px;" ng-bind-html="post.name"></span>
                                        </label>
                                    </h4>
                                    <div class="input-group pract radio i-checks" ng-repeat="child in post.options" ng-if="post.question_type_id == 4">

                                        <label>
                                           
                                            <span style="position:absolute;" ng-if="child.is_answer == '1'">
                                                <img src="assets/green-tick.jpg" width="17" height="17">
                                            </span>
                                            <input type="radio" name="type1_0" ng-value="1"  disabled ng-change="typeRadio1(getIndexQua11,$index)" ng-model="child.user_aws">

                                            <i></i>
                                            <span style="position: relative;font-size: 17px; bottom: 22px; left: 54px;" ng-bind-html="child.name"></span>
                                        </label>
                                    </div>
                                </div>
                                   <!-- //If Question type5  -->
                                
                                <div class="input-group " ng-repeat="child in post.options" ng-if="post.question_type_id == 5">
                                    <div class="form-group">
                                        <div class="pract text-center">

                                            <span style="color:#468847">
                                                {{child.is_answer}}
                                                <img src="assets/green-tick.jpg" width="17" height="17">
                                            </span>
                                            <input  disabled type="text" disabled class="ctext form-control t-numeric" ng-model="child.user_aws" size="20">

                                        </div>
                                    </div>
                                </div>
                                </div>
            
                            </div>
                          
                      
            
                            <!-- //If Question type3  -->
                            <div class="row">
                               
                                <div class="col-md-4" ng-repeat="child in post.options" ng-if="post.question_type_id == 3">
                                    <div class="boxblue">
                                        <div class="boxblue1">
                                            <p> BLANK- {{blanksAlp[$index]}} </p>
                                        </div>
                                        <div class="input-group pract radio i-checks" ng-repeat="opt in child">
                                            <label>
                                                <span style="position: absolute; left: 4px;" ng-if="opt.is_answer == '1'">
                                                    <img src="assets/green-tick.jpg" width="17" height="17">
                                                </span>
                                                <input type="radio" name="type3_{{$parent.$index}}" ng-model="opt.user_aws" ng-value="1" ng-change="typeRadio(getIndexQua11,$parent.$index,$index)">
                                                <i></i>
                                                <span style="position: relative;height:auto;min-height:50px;font-size: 17px; bottom: 22px; left: 55px;"
                                                    ng-bind-html="opt.name"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                </div>
                <div id="main" class="draggable ui-widget-content" style="position: absolute; z-index: 1;right:3px;     top: 193px; display: none;">
                    <header class=" bg-primary text-center font-bold">Calculator</header>
                    <input id="Result" name="Result" class="input form-control" readonly="readonly" style="background-color: #fff">
                    <div id="keys" style="position: absolute;">
                        <div id="FirstRow" style="height:34px !important">
                            <div style="width: 100%;">
                                <div class="btn-group btn-group-justified">
                                    <button id="ClearAll" type="reset" value="CE" class="clean btn btn-primary ce">CE</button>
                                    <button id="Clear" type="reset" value="C" class="clean btn btn-primary ce">C</button>
                                    <button id="transfer" type="button" value="transfer" class="transferclass btn btn-info trans">Use</button>
                                </div>
                            </div>
                        </div>
                
                        <div id="SecondRow" style="height:34px !important">
                            <div style="width: 100%;">
                                <div class="btn-group btn-group-justified">
                                    <button style="float:left !important; border-radius: 0;" id="One" type="button" value="1" class="Show btn btn-primary butns">1</button>
                                    <button style="float:left !important; border-radius: 0;" id="Two" type="button" value="2" class="Show btn btn-primary butns">2</button>
                                    <button style="float:left !important; border-radius: 0;" id="Three" type="button" value="3" class="Show btn btn-primary butns">3</button>
                                    <button style="float:left !important; border-radius: 0;" id="Sub" type="button" value="-" class="operators operand btn btn-primary butnss">-</button>
                                </div>
                            </div>
                        </div>
                
                        <div id="ThirdRow" style="height:34px !important">
                            <div style="width: 100%;">
                                <div class="btn-group btn-group-justified">
                                    <button style="float:left !important; border-radius: 0;" id="Four" type="button" value="4" class="Show btn btn-primary butns">4</button>
                                    <button style="float:left !important; border-radius: 0;" id="Five" type="button" value="5" class="Show btn btn-primary butns">5</button>
                                    <button style="float:left !important; border-radius: 0;" id="six" type="button" value="6" class="Show btn btn-primary butns">6</button>
                                    <button style="float:left !important; border-radius: 0;" id="Mul" type="button" value="*" class="operators operand btn btn-primary butnss">*</button>
                                </div>
                            </div>
                        </div>
                
                        <div id="FourthRow" style="height:34px !important">
                            <div style="width: 100%;">
                                <div class="btn-group btn-group-justified">
                                    <button style="float:left !important; border-radius: 0;" id="Seven" type="button" value="7" class="Show btn btn-primary lter butns">7</button>
                                    <button style="float:left !important; border-radius: 0;" id="Eight" type="button" value="8" class="Show btn btn-primary butns">8</button>
                                    <button style="float:left !important; border-radius: 0;" id="Nine" type="button" value="9" class="Show btn btn-primary butns">9</button>
                                    <button style="float:left !important; border-radius: 0;" id="Divide" type="button" value="/" class="operators operand btn btn-primary butnss">/</button>
                                </div>
                            </div>
                        </div>
                
                        <div id="FifthRow" style="height:34px !important">
                            <div style="width: 100%;">
                                <div class="btn-group btn-group-justified">
                                    <button style="float:left !important; border-radius: 0;" id="Zero" type="button" value="0" class="Show btn btn-primary butns">0</button>
                                    <button style="float:left !important; border-radius: 0;" id="Dot" type="button" value="." class="Show btn btn-primary butns">.</button>
                                    <button style="float:left !important; border-radius: 0;" id="Add" type="button" value="+" class="operators operand btn btn-primary butns">+</button>
                                    <button style="float:left !important; border-radius: 0;" id="Calculate" type="button" value="=" class="operand btn btn-primary butnss">=</button>
                                </div>
                            </div>
                        </div>
                
                        <div id="SixthRow" style="height:34px !important;">
                            <div style="width: 100%;">
                                <div class="btn-group btn-group-justified">
                                    <button id="closeBtn" type="button" class="clean btn btn-primary butns" style="min-width: 158px">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="printSectionId" style="text-align:center background-color:#ECF0F5" ; ng-show="testCompleted">
                <div class="panel panel-body ">
                <h3 ng-hide="showResultText">Please wait your test result rendering....</h3>
                <h3 style="text-align:center;" >Test Performance</h3>
                <div style=" height: auto; ">
                        <div class="row" >
                                <div class="col-md-6">
                                        <div class="row" ng-repeat="sections in reasultPer.sections">
                                <div class="col-md-2" style="padding:10px; ">
                                       
                                Questions
                                </div>
                                <div class="col-md-8"  style="padding:10px; ">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{sections.percentage}}"
                                        aria-valuemin="0" aria-valuemax="100" style="width:{{sections.percentage}}%">
                                        {{sections.percentage}}%
                                    </div>
                                </div>
                                 </div>
                                </div>
                                <div class="col-md-6">
                                 <table border="1" class="table table-bordered table-responsive table-hover ">
                                     <thead class="warning">
                                         <th>Questions</th>
                                         <th>Total Questions</th>
                                         <th>CorrectAnswers</th>
                                         <th>WrongAnswers</th>
                                      </thead>
                                     <tbody>
                                        <tr  ng-repeat="sections in reasultPer.sections">
                                                <td> Questions {{$index+1}}</td>
                                            <td>{{sections.questionids.length}}</td>
                                            <td>{{sections.result}}</td>
                                            <td>{{sections.questionids.length-sections.result}}</td>
                                        </tr>
                                    </tbody>
                                     </table>
                                </div>
                                <!-- <div class="col-md-4">{{sections.result}}/{{sections.questionids.length}}</div> -->
                            </div>
                    <br>
                    <br>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <canvas id="myChart"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="myChart1"></canvas>
                        </div>
                    </div> -->
                    <div class="row">
                        <div style="float:right" class="row">
                                <div class="col-md-6">
                                        <button ng-click="goback()" class="btn btn-info btn-md btnclr ">GoBack</button>
                                    </div>
                           
                            <div class="col-md-6">
                                <button ng-click="printToCart('printSectionId')" class="btn btn-info btn-md btnclr ">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
           
                 <div id="main" class="draggable ui-widget-content" style="position: absolute; z-index: 1;right:3px;     top: 193px; display: none;">
                        <header class=" bg-primary text-center font-bold">Calculator</header>
                        <input id="Result" name="Result" class="input form-control" readonly="readonly" style="background-color: #fff">
                        <div id="keys" style="position: absolute;">
                            <div id="FirstRow" style="height:34px !important">
                                <div style="width: 100%;">
                                    <div class="btn-group btn-group-justified">
                                        <button id="ClearAll" type="reset" value="CE" class="clean btn btn-primary ce">CE</button>
                                        <button id="Clear" type="reset" value="C" class="clean btn btn-primary ce">C</button>
                                        <button id="transfer" type="button" value="transfer" class="transferclass btn btn-info trans">Use</button>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="SecondRow" style="height:34px !important">
                                <div style="width: 100%;">
                                    <div class="btn-group btn-group-justified">
                                        <button style="float:left !important; border-radius: 0;" id="One" type="button" value="1" class="Show btn btn-primary butns">1</button>
                                        <button style="float:left !important; border-radius: 0;" id="Two" type="button" value="2" class="Show btn btn-primary butns">2</button>
                                        <button style="float:left !important; border-radius: 0;" id="Three" type="button" value="3" class="Show btn btn-primary butns">3</button>
                                        <button style="float:left !important; border-radius: 0;" id="Sub" type="button" value="-" class="operators operand btn btn-primary butnss">-</button>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="ThirdRow" style="height:34px !important">
                                <div style="width: 100%;">
                                    <div class="btn-group btn-group-justified">
                                        <button style="float:left !important; border-radius: 0;" id="Four" type="button" value="4" class="Show btn btn-primary butns">4</button>
                                        <button style="float:left !important; border-radius: 0;" id="Five" type="button" value="5" class="Show btn btn-primary butns">5</button>
                                        <button style="float:left !important; border-radius: 0;" id="six" type="button" value="6" class="Show btn btn-primary butns">6</button>
                                        <button style="float:left !important; border-radius: 0;" id="Mul" type="button" value="*" class="operators operand btn btn-primary butnss">*</button>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="FourthRow" style="height:34px !important">
                                <div style="width: 100%;">
                                    <div class="btn-group btn-group-justified">
                                        <button style="float:left !important; border-radius: 0;" id="Seven" type="button" value="7" class="Show btn btn-primary lter butns">7</button>
                                        <button style="float:left !important; border-radius: 0;" id="Eight" type="button" value="8" class="Show btn btn-primary butns">8</button>
                                        <button style="float:left !important; border-radius: 0;" id="Nine" type="button" value="9" class="Show btn btn-primary butns">9</button>
                                        <button style="float:left !important; border-radius: 0;" id="Divide" type="button" value="/" class="operators operand btn btn-primary butnss">/</button>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="FifthRow" style="height:34px !important">
                                <div style="width: 100%;">
                                    <div class="btn-group btn-group-justified">
                                        <button style="float:left !important; border-radius: 0;" id="Zero" type="button" value="0" class="Show btn btn-primary butns">0</button>
                                        <button style="float:left !important; border-radius: 0;" id="Dot" type="button" value="." class="Show btn btn-primary butns">.</button>
                                        <button style="float:left !important; border-radius: 0;" id="Add" type="button" value="+" class="operators operand btn btn-primary butns">+</button>
                                        <button style="float:left !important; border-radius: 0;" id="Calculate" type="button" value="=" class="operand btn btn-primary butnss">=</button>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="SixthRow" style="height:34px !important;">
                                <div style="width: 100%;">
                                    <div class="btn-group btn-group-justified">
                                        <button id="closeBtn" type="button" class="clean btn btn-primary butns" style="min-width: 158px">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                    
                    /* Calcy Script Code Start */
                        
                        $('#main').hide();
                        $('#showCalc,#closeBtn').click(function(e) {
                            $('#main').toggle();
                        });
                        
                        var key = null;
                    
                        $('#transfer').click(function(){  
                    
                            var currentindex = $('#currentStep').val();
                             
                            var textLength = $("#wizard-p-"+currentindex+"").find("input[type=text]").length;
                    
                             
                         if(textLength==1)
                             {
                             $('.ctext').val($('#Result').val());
                             $('.ctext').focus();
                             }
                    
                         if(textLength==0)
                         {
                             $('.ctext').val($('#Result').val());
                          if( $('.text1').val()=='')
                              {
                              $('.text1').val($('#Result').val());
                              $('.text1').focus();
                              }
                          else if($('.text2').val()=='')
                              {
                              $('.text2').val($('#Result').val());
                              $('.text2').focus();
                              }
                         } 
                         if(textLength==2)
                             {
                             
                              if( $('.text1').val()=='')
                                  {
                                  $('.text1').val($('#Result').val());
                                  $('.text1').focus();
                                  }
                              else if($('.text2').val()=='')
                                  {
                                  $('.text2').val($('#Result').val());
                                  $('.text2').focus();
                                  }
                             } 
                        });  
                        $(function(){
                         $('#flagStatus').on('click', function(event){
                                $('#flagStatus').toggleClass('active');
                          });
                         
                    
                            });
                        $(".clean").click(function () {
                           // $('.input').val("");
                             $('#Result').val("");
                    
                        });
                    
                        $(".Show").click(function () {
                            var EText = $('#Result').val();
                            if (EText != "0") {
                                var val1 = EText;
                                var ButtonVal = $(this);
                                var val2 = ButtonVal.text();
                                var Res = val1 + val2;
                                $('#Result').val(Res);
                            } else {
                                $('#Result').val();
                            }
                        });
                        $(function (e) {
                            var interRes = null;
                            var operator;
                            $('.operators').click(function (e) {
                                var value1 = $('#Result').val();
                                if (interRes != null) {
                                    var result = ApplyOperation(interRes, value1, operator);
                                    interRes = result;
                                } else {
                                    interRes = value1;
                                }
                                operator = $(this).text();
                                //$('input').val("");
                                $('#Result').val("");
                            });
                            $('#Result').keypress(function (e) {
                                if ((e.keyCode == 61)) {
                                    var op = operator;
                                    var res;
                                    var value2 = $('#Result').val();
                                    if ((value2 != "")) {
                                        var data = value2.split("+");
                                        if (data.length > 2) res = ApplyOperation(interRes, data[data.length - 1], op);
                                        else res = ApplyOperation(interRes, data[1], op);
                                    } else {
                                        res = interRes;
                                    }
                                    $('#Result').val(res);
                                    interRes = null;
                                } else if ((e.keyCode == 43) || (e.keyCode == 45) || (e.keyCode == 42) || (e.keyCode == 47)) {
                                    var value1 = $('#Result').val();
                                    var inter = (interRes != null);
                                    if (inter) {
                                        var op = operator;
                                        var data = value1.split("+");
                                        if (data.length > 2) {
                                            operator = String.fromCharCode(e.keyCode);
                                            result = ApplyOperation(interRes, data[data.length - 1], op);
                                            interRes = result;
                                        } else {
                                            operator = String.fromCharCode(e.keyCode);
                                            result = ApplyOperation(interRes, data[1], op);
                                            interRes = result;
                                        }
                                    } else {
                                        interRes = value1;
                                    }
                                    operator = String.fromCharCode(e.keyCode);
                                    //  $('.input').text("");
                                    $('#Result').text("");
                                }
                            });
                            $('#Calculate').click(function (e) {
                                var op = operator;
                                var res;
                                var value2 = $('#Result').val();
                                if ((value2 != "")) {
                                    res = ApplyOperation(interRes, value2, op);
                                } else {
                                    res = interRes;
                                }
                                $('#Result').val(res);
                                interRes = null;
                            });
                        });
                    
                        function ApplyOperation(value1, value2, operator) {
                            var res;
                            switch (operator) {
                                case "+":
                                    res = addition(value1, value2);
                                    break;
                                case "-":
                                    res = subtraction(value1, value2);
                                    break;
                                case "*":
                                    res = multiplication(value1, value2);
                                    break;
                                case "/":
                                    res = division(value1, value2);
                                    break;
                            }
                            return res;
                        }
                    
                        function addition(first, second) {
                            var a = parseFloat(first);
                            var b = parseFloat(second);
                            var total = a + b;
                            return total;
                        }
                    
                        function subtraction(first, second) {
                            var a = parseFloat(first);
                            var b = parseFloat(second);
                            var sub = a - b;
                    
                            return sub;
                        }
                    
                        function multiplication(first, second) {
                            var a = parseFloat(first);
                            var b = parseFloat(second);
                            var product = a * b;
                    
                            return product;
                        }
                    
                        function division(first, second) {
                            var a = parseFloat(first);
                            var b = parseFloat(second);
                            var divi = a / b;
                            return divi;
                        }
                    
                    </script>
                     </div> 
                    </div>  
                </div>
        </div>
    </section>
</div>
<style>
    /* <!-- 
li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
} */
    
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    /* .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
} */
</style>

</div>